.checkout-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

form {
    display: flex;
    flex-flow: column nowrap;
    width: 30vw;
    justify-content: space-evenly;
    height: 500px;
}

.input-container {
    display: flex;
    flex-flow: column nowrap;
}

.input-container > input {
    height: 30px;
    border: 1px solid #FFA800;
    border-radius: 10px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.input-container > input:first-of-type,
.input-container > input:nth-of-type(2),
.input-container > input:nth-of-type(4),
.input-container > input:nth-of-type(5) {
    width: 50%;
}

label {
    margin: 10px auto 3px 0px;
    font-size: 120%;
}

.cart-container {
    display: flex;
    flex-flow: column nowrap;
}
.co-list-item {
    width: 20vw;
    display: flex;
    flex-flow: column nowrap;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);

}

.co-info-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-weight: bold;
}

.co-headline {
    font-size: 120%;
    max-width: 60%;
    font-weight: normal;
}

.fa-shopping-basket {
    color: #FFA800;
    font-size: 200%;
    margin-bottom: 20px;
}

.fa-shopping-basket::after {
    content: 'Shoppingcart';
    margin-left: 15px;
}
