.navbar {
    height: 100px;
    width: 100%;
    background: #FFA800;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-decoration: none;
    margin-top: 0px;
}

.nav-link, .nav-link:visited {
    color: white;
    text-decoration: none !important;
}

.home-link {
    margin-left: 50px;
    font-size: 300%;
}

.search-container {
    width:15vw;
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
}

.search-input {
    width: 100%;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 150%;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.search-container > i {
    font-size: 150%;
    color: #FFA800;
z-index: 1;
margin-left: -30px;

}

.link-container {
    display: flex;
    flex-flow: row nowrap;
    width: 15vw;
    height: 100%;
    justify-content: space-evenly;
}

.nav-option {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: space-evenly;
}
